<div class="row">
  <div id="table-container" class="span6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Time</th>
          <th>Weight</th>
          <th>Body Fat</th>
          <th>Lean Mass</th>
          <th>Fat Mass</th>
        </tr>
      </thead>
      <tbody>
        <% @weights.reverse.each do |weight| %>
          <tr>
            <td><%= weight.time.strftime('%b %e %H:%M') %></td>
            <td><%= weight.weight %></td>
            <td><%= weight.fat_percent %></td>
            <td><%= weight.lean_mass %></td>
            <td><%= weight.fat_mass %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="graphs-container" class="span6">
    <dl>
      <dt>Last Update</dt>
      <dd><%= @last_update.strftime('%H:%M') %></dd>
    </dl>
    <div class="button-row">
      <div class="btn-group">
        <a class="btn" href="<%= force_update_user_weights_path @user %>"><i class="icon-refresh"></i> Update from FitBit</a>
        <a class="btn" href="<%= user_weights_url @user, :format => 'csv' %>"><i class="icon-download"></i> CSV</a>
        <a class="btn" href="<%= edit_user_url @user %>"><i class="icon-calendar"></i> Dates</a>
        <a class="btn" href="<%= logout_path %>"><i class="icon-stop"></i> Logout</a>
      </div>
    </div>
    <div class="button-row">
      <div class="btn-group">
        <%= link_to 'All', user_weights_url(@user), class: 'btn' %>
        <%= link_to 'Daily', user_weights_url(@user, :aggregate => 'daily'), class: 'btn' %>
        <%= link_to 'Weekly', user_weights_url(@user, :aggregate => 'weekly'), class: 'btn' %>
      </div>
    </div>
    <% @chart_titles = { :weight => 'Weight', :fat_percent => 'Body Fat %', :lean_mass => 'Lean Mass', :fat_mass => 'Fat Mass'} %>
    <% [:fat_percent, :fat_mass, :lean_mass, :weight].each do |attr| %>
        <%= content_tag :div, :id => "#{attr}_chart", :class => 'highchart-scatterline chart',
          :data => { :title => "#{@chart_titles[attr]} (#{format_per_day @series[attr][:per_day]})", :weights => @series[attr] } {} %>
    <% end %>
  </div>
</div>
